{% extends "base_generic.html" %}

{% block content %}
<div class="bg-black bg-opacity-75 py-5 h-25 d-flex flex-column justify-content-center" style="height: 500px!important;">
      <form action="" method="post">
        <div class="container w-25 bg-black bg-opacity-25 rounded d-flex flex-column justify-content-center align-items-start p-5">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
            <p class="text-white">Coloque seu e-mail para redefinir sua senha</p>
            <p>{{ form.email }}</p>
            <input type="submit" class="btn btn-warning" value="Redefinir senha">
        </div>
    </form>
</div>
{% endblock %}