/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerProduto {
  text-align: left;
}
#lista_imagem_produto {
  opacity: 0.7;
}
#lista_imagem_produto:hover {
  opacity: 1.0;
}