{% extends 'base_generic.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
<div class="container">
<div class="contentbar">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card my-5">
                    <div class="card-header">
                        <h5 class="card-title">Carrinho</h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <div class="cart-container">
                                    <div class="cart-head">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Ação</th>
                                                        <th scope="col">Foto</th>
                                                        <th scope="col">Produto</th>
                                                        <th scope="col">Qntd.</th>
                                                        <th scope="col">Preço</th>
                                                        <th scope="col" class="text-right">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in itens %}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td><button class="btn cart-btn btn-outline-danger" value="{{ item.produto.id }}">Remover</button></td>
                                                        <td><img src="{{ item.produto.imagem.url }}" class="img-fluid" width="35" height="35" alt="product"></td>
                                                        <td>{{ item.produto.nome }}</td>
                                                        <td>
                                                            <div class="row row-cols-3">
                                                                <button class=" btn cart-btn btn-success btn-sm" value="{{ item.produto.id }}">+</button>
                                                                <div class="justify-items-center">{{ item.quantidade }}</div>
                                                                {% if item.quantidade == 1 %}
                                                                    <button class="btn cart-btn btn-secondary btn-sm" value="{{ item.produto.id }}" disabled>-</button>
                                                                {% else %}
                                                                    <button class="btn cart-btn btn-danger btn-sm" value="{{ item.produto.id }}">-</button>
                                                                {% endif %}
                                                            </div>
                                                        </td>
                                                        <td>R${{ item.produto.preco }}</td>
                                                        <td class="text-right">R${{ item.total }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="cart-body">
                                        <div class="row">
                                            <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
                                                <p class="mb-0">Seu endereço:</p>
                                                <div class="order-note">
                                                    <form name="myForm" action="." method="GET">
                                                      <input type="text" name="inputbox" value="" placeholder="CEP">
                                                      <input type="button" name="button" value="Click" onClick="meuEndereco(this.form)">
                                                    </form>
                                                    <p id="endereco-entrega"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                                                <div class="order-total table-responsive ">
                                                    <table class="table table-borderless text-right">
                                                        <tbody>
                                                            <tr>
                                                                <td>Sub Total :</td>
                                                                <td>$1000.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Frete :</td>
                                                                <td>$0.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="f-w-7 font-18"><h4>Total Carrinho :</h4></td>
                                                                <td class="f-w-7 font-18"><h4>R${{ carrinho.subtotal_carrinho }}</h4></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-footer text-right">
                                        <a href="page-checkout.html" class="btn btn-success my-1">Finalizar compra</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
    </div>


{% endblock %}