{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  {% if user.is_authenticated %}
                  <img src="../{{user.foto}}" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                  {% else %}
                  <img src="../media/perfil.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                  {% endif %}
                  <h5 class="my-3">{{user.username}}</h5>
                  <p class="text-muted mb-1">{{user.email}}</p>
                  <a href="{{ user.get_absolute_url }}"><p class="">Editar perfil</p></a>
                  <div class="d-flex justify-content-center mb-2">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Nome</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.username}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">CPF</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.cpf}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">CEP</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.cep}}</p>
                    </div>
                  </div>
                  <hr>
                  {% if user.is_authenticated %}
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Endereço</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"></p>
                      <p class="text-muted mb-0">Rua: {{user.endereco.logradouro}}, {{user.numero}}</p>
                      <p class="text-muted mb-0">Bairro: {{user.endereco.bairro}}</p>
                      <p class="text-muted mb-0">Estado: {{user.endereco.uf}}</p>
                    </div>
                  </div>
                  {% else %}
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Endereço</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ endereco }}</p>
                      <p class="text-muted mb-0"></p>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <main></main>
      <script src="{% static 'js/cep.js' %}" charset="utf-8"></script>
{% endblock %}